@model OnlineBankingApp.Models.Advisor

@{
    ViewData["Title"] = "Advisor";
}

<h1>Your Advisor</h1>

<div class="text-center">
    <h2>Advisor Name: @Model.AdvisorName</h2>
    <h2>Advisor Phone: @Model.AdvisorPhone</h2>
    <h2>Advisor Email: @Model.AdvisorEmail</h2>
</div>
