@model OnlineBankingApp.Models.Transfer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Transfer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransferId" />
            <div class="form-group">
                <label asp-for="TransferAmount" class="control-label"></label>
                <input asp-for="TransferAmount" class="form-control" />
                <span asp-validation-for="TransferAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransferDate" class="control-label"></label>
                <input asp-for="TransferDate" class="form-control" />
                <span asp-validation-for="TransferDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SenderAccountId" class="control-label"></label>
                <select asp-for="SenderAccountId" class="form-control" asp-items="ViewBag.SenderAccountId"></select>
                <span asp-validation-for="SenderAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiverAccountId" class="control-label"></label>
                <select asp-for="ReceiverAccountId" class="form-control" asp-items="ViewBag.ReceiverAccountId"></select>
                <span asp-validation-for="ReceiverAccountId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
